<h3> Display Airline Details</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th> Airline Name </th>
            <th> Origin  </th>
            <th> Destination  </th>
            <th> Seating Capacity </th>
            <th> Cost </th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td> {{ airline.airlineName }} </td>
            <td> {{ airline.origin }} </td>
            <td> {{ airline.destination }} </td>
            <td> {{ airline.seatingCapacity }} </td>
            <td> {{ airline.cost }} </td>
        </tr>    
    </tbody>
</table>
<div class="navigation">
    <a class="button" href="display-all-airlinedetails">
      <img src="/assets/images/pic 2.jpg">
<div class="backbutton" >
    BACK
</div>
</a>

